<div class="container-fluid customfont">
  <div class="row">
    <!-- Controles -->
    <div class="col-md-4 seletores">
      <div class="titulo-app-div">
        <img src="./assets/logo.png" width="40%">
      </div>
      <div class="slider-seletor" *ngFor="let aux of auxilios">
        <div class="titulo-slider">{{ aux.nome }}</div>
        <mat-slider min="0" max="25750" step="100" value="1" thumbLabel tickInterval="1"></mat-slider>
      </div>
      <h2>Crédito: {{ credito }}</h2>
    </div>
    <!-- Produtos -->
    <div class="col-md-8 cards">
      <div class="row">
        <div class="col-md-4 " *ngFor="let produto of getProdutos()">
            <div class="card-interno mb-3">
                <h3>{{ produto.nome }}</h3>
                <input type="number" min="0" max="100"> unidades!
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 
  moradia
  pre escola
  outros
  saúde
 -->









<!--
<div class="container">
  <div class="row-custom">
    <h4>Qual é o preço do martelo em {{ metrica }}?</h4>
  </div>
  <mat-slider min="0" max="25750" step="100" value="1" thumbLabel tickInterval="1"></mat-slider>
  <hr>
  <div class="container">
    <div class="text-center" *ngFor="let aux of auxilios">
      <h4>{{ aux.nome }} <i class="{{ aux.icon }}" aria-hidden="true"></i>:</h4>
      <div class="i-am-centered">
        <div class="row">
          <div *ngFor="let i of genArray(aux.valor)">
            <i class="{{ metricIcon }}"></i>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div> 
</div>
-->