btn + btn {
    margin-left: 30px;
}

.i-am-centered { margin: auto; max-width: 700px;}

.btn-custom {
    border-radius: 0em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.875em;
    border: 4px;
}

.slider-seletor {
    margin-bottom: 2rem;
}

.seletores {
    padding-top: 2rem;
    height: 100vh;
    background-color:#5f87c6;
    color: white;
}

.cards {
    height: 100vh;
    overflow-y: auto;
}

.row-custom {
    padding-top: 1rem;
    padding-bottom: 1rem;   
}

mat-slider {
    width: 300px;
  }