$color: #1e262c; 
$textcolor: #d2d3d5;

@import url('https://fonts.googleapis.com/css?family=Montserrat');
.customfont {
    font-family: 'Montserrat', sans-serif;
}

btn + btn {
    margin-left: 30px;
}

.i-am-centered { margin: auto; max-width: 700px;}

.btn-custom {
    border-radius: 0em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.875em;
    border: 4px;
}

.slider-seletor {
    margin-bottom: 2rem;
}

.seletores {
    padding-top: 2rem;
    height: 100vh;
    background-color: $color;
    color: $textcolor;
}

.cards {
    padding-top: 1rem;
    height: 100vh;
    overflow-y: auto; 
}

.card-interno {
    border: solid 5px $color;
    padding: 1rem;
}

.titulo-app {
    font-size: 2rem;
    text-align: center;
}

.titulo-app-div {
    margin-bottom: 2rem;
    text-align: center;
}

.row-custom {
    padding-top: 1rem;
    padding-bottom: 1rem;   
}

mat-slider {
    width: 300px;
  }