<div class="container-fluid">
  <div class="row">
    <!-- Controles -->
    <div class="col-md-4 seletores">
      <div>
        <h1>O Preço do Martelo</h1>
      </div>
      <div class="slider-seletor" *ngFor="let aux of auxilios">
        <div class="titulo-slider">{{ aux.nome }}</div>
        <mat-slider min="0" max="25750" step="100" value="1" thumbLabel tickInterval="1"></mat-slider>
      </div>
    </div>
    <!-- Produtos -->
    <div class="col-md-8 cards">
      <div class="row">
        <div class="col-md-4">
            <div class="card mb-3">
                <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>









<!--
<div class="container">
  <div class="row-custom">
    <h4>Qual é o preço do martelo em {{ metrica }}?</h4>
  </div>
  <mat-slider min="0" max="25750" step="100" value="1" thumbLabel tickInterval="1"></mat-slider>
  <hr>
  <div class="container">
    <div class="text-center" *ngFor="let aux of auxilios">
      <h4>{{ aux.nome }} <i class="{{ aux.icon }}" aria-hidden="true"></i>:</h4>
      <div class="i-am-centered">
        <div class="row">
          <div *ngFor="let i of genArray(aux.valor)">
            <i class="{{ metricIcon }}"></i>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div> 
</div>
-->